.container{
	// background-color: red;
}
@font-face {
  font-family: electronicFont;
  src: url('~@/static/font/DS-DIGIT.TTF');
}
.mt-10{
  margin-top: 20rpx;
}
.range{
  font-size: 28rpx;
  padding-left: 40rpx;
  margin-bottom: 10rpx;
}